Header{
    padding: 15px;
    padding-bottom: 25px;
    margin-left: 25%;
}


#MainContainer{
    border-top: solid 1px grey;
    display: grid;
    grid-template-columns: 1f 1f;
    grid-template-rows: 1f 1f 1f 1f;
    justify-content: center;    
}

#Monday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#Tuesday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#Wednesday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#Thursday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#Friday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#Saturday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#Sunday{
    border-left: dashed 1px black;
    border-right: dashed 1px black;
    height: 50vh;
    min-height: 25vh;
    min-width: 400px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.Listed{
    text-decoration: underline;
}