#postlikeimgid{
    height: 20px;
    width: 20px;
    margin-left: 0%;
    margin-top: 15px;
    margin-right: 2px;
}

#postcomimgid{
    height: 20px;
    width: 20px;
    margin-left: -2px;
}

#likenumid{
    display: inline;
    margin-right: 85%;
}

#commentnumid{
    display: inline;
    margin-right: 4px;
    margin-left: -10px;
}

#postlikecomareaid{
    background-color: white;
    padding: 0px;
    border: solid grey 1px;
    height: 100px;
    width: 420px;
    margin-left: -1px;
}

#lastcommentid{
    margin-left: 0%;
    margin-top: -6%;
}

#sendcommentbutton{
    margin-right: -0%;
}

#commentboxid{
    display: inline;
    margin-right: 20px;
    width: 280px;
}

#commentinteractarea{
    margin-left: -0%;
}