.ImageButtonItem{
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    border: solid 2px green;
    border-radius: 40px;
}

.ImageButtonItem > img{
    display: inline;
    height: 15px;
    width: 15px;
}

.ImageButtonItem > p{
    display: inline;
}

#imagezz{
    margin-left: 10px;
    margin-right: 10px;
}

