body{
    text-align:center;
}

#ControladorBox{
    border: solid black 1px;
    width: 30%;
    height: 200px;
    margin-left: 35%;
}

#DespesasBox{
    border: solid black 1px;
    width: 30%;
    height: 200px;
    margin-left: 35%;
}

#ExtratoBox{
    border: solid black 1px;
    width: 30%;
    height: 200px;
    margin-left: 35%;
}