.AppDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin: 0;
    height: 2300px;
}

#headerid{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

#instalogo{
    height: 30px;
    width: 30px;
    margin-left: 112px;
    border-right: solid black 1px;
    padding-right: 15px;
}

#instatitle{
    height: 40px;
    width: 120px;
    margin-left: 10px;
}

#headersearch{
    margin-left: 18%;
    height: 30px;
    width: 240px;
    background-color: rgb(245, 245, 245);
    border: solid rgb(234, 234, 234) 1px;
}

#icons{
    height: 30px;
    width: 30px;
    margin-left: 25%;
}

#icons + #icons{
    margin-left: 15px;
}