.maincontainer{
    display: grid;
    grid-template-columns: 1f 1f;
    grid-template-rows: 1f;
    width: 100%;
    height: 140vh;
}

.imagebox{
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 10;
}

.listbox{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 10;
}

.secondcontainer{
    display: grid;
    grid-template-columns: 1f 1f 1f 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f 1f 1f 1f;
    width: 100%;
    height: 100%;
}

#redbox{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

#item1{
    border: solid black;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item2{
    border: solid black;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item3{
    border: solid black;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item4{
    border: solid black;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item5{
    border: solid black;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item6{
    border: solid black;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item7{
    border: solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}

#item8{
    border: solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5%;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

#item9{
    border: solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}

#item10{
    border: solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}

#item11{
    border: solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7;
}

@media screen and (max-width: 800px){

    .secondcontainer {
        width: 600px;
        height: 600px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #redbox{
        background-color: red;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    #item1{
        border: solid black;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    #item2{
        border: solid black;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    #item3{
        border: solid black;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    
    #item4{
        border: solid black;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    
    #item5{
        border: solid black;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    
    #item6{
        border: solid black;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    
    #item7{
        border: solid black;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    
    #item8{
        border: solid black;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    
    #item9{
        border: solid black;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    
    #item10{
        border: solid black;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 8;
    }
    
    #item11{
        border: solid black;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 9;
        grid-row-end: 9;
    }

}